.article-container {
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 3px;
  background-color: #ffffff;
}

.fa-thumbs-up:hover {
  color: greenyellow;
}

.fa-thumbs-down:hover {
  color: red;
}
