:root {
  --color-primary: #ffffff;
  --color-secondary: #c4c4c4;
  --color-tertiary: #575555;
  --color-highlight: #ff0707;
  --color-text-dark: #000000;
  --color-text-light: #ffffff;
}

body {
  background-color: var(--color-secondary);
}

i {
  margin: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#password {
  -webkit-text-security: disc;
}
